certifi==2018.8.24
Django==2.1.5
django-crispy-forms==1.7.2
et-xmlfile==1.0.1
jdcal==1.4
numpy==1.15.2
openpyxl==2.5.8
pandas==0.23.4
pipenv==2018.7.1
python-dateutil==2.7.3
pytz==2018.5
selenium==3.14.1
six==1.11.0
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
