html{
  scroll-behavior: smooth;
}

html body nav.navbar.navbar-light.bg-white.sticky-top ul.nav.nav-button.nav-fill li.nav-item a{
  padding-right: 20px;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #2053ba;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand {
  color: #2053ba;
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #2053ba;
}

#mainNav .navbar-nav .nav-item .nav-link {

  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: black;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #2053ba;
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1em 1.2em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1em;
    padding: 10px 0;
  }
}

a.anchor{
  display: block;
  position: relative;
  top: -30px;
  visibility: hidden;
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.masthead::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #C0C0C0;
  opacity: 0.7;
}

header.masthead > * {
  z-index: 100;
}

header.masthead {
  position: relative;
  background-color: #006aff;
  background-image: url() no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #006aff;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.jumbotron{
  margin-bottom: 0;
  background-image: linear-gradient(to bottom right,#2b71ff, #2053ba);
  color: #fffaff;
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

.grid-container{
  display: grid;
  align-content: space-evenly; 
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #0cb23b;
}

.testimonials .testimonial-item {
  max-width: 18em;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  -webkit-box-shadow: 0px 5px 5px 0px #adb5bd;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.contact {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

/* .fa-facebook {
  color: #bf3100;
}

.fa-linkedin {
  color: #bf3100;
}

.fa-twitter-square {
  color: #bf3100;
} */

html body div section.testimonials.text-center.bg-light div.container div.row div.col-lg-4 div.testimonial-item.mx-auto.mb-5.mb-lg-0{
  padding-top: 15px;
}

.center{
  margin: auto;
  width: 50%;
  padding: 80px 0;
  vertical-align: middle;
}

div{
  position:relative;
}

div span{
  position: absolute;
  top: -100px;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.navbar .icon {
  display: none;
}

/* When the screen size falls under 800px in width (This should also work on tablet sized devices), all links are hidden execpt for "navbar-brand". Show the bar menu */

/* @media screen and (max-width: 800px) {
  .navbar a:not(:first-child) {display:none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */
