{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>IT Doctors</title>

  <!-- Bootstrap core CSS -->
  <link href= https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href={% static "css/landing-page.css" %} rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href={% static "css/all.css" %} rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138515895-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138515895-1');
</script>

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

  <!-- Navigation, NOTE: <a> elements are used to jump to particular area with scrollspy -->
  <nav class="navbar navbar-light bg-white sticky-top" id="navbar">
    <a class="navbar-brand" href="#home">
      <img src={% static "img/ITDLogo.jpg" %} width ="240" height= "80">
    </a>
      <ul class ="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="#about">
          <i class="fab fa-wpforms"></i>
          About
          </a>
        </li>
        <li class ="nav-item">
          <a class="nav-link" href="#services">
          <i class="fas fa-tools"></i>
          Services
          </a>
        </li>
        <li class ="nav-item">
          <a class="nav-link" href="#team">
          <i class="fas fa-users"></i>
          Meet the Team
          </a>
        </li>
        <li class ="nav-item">
          <a class="nav-link" href="#contact">
          <i class="fas fa-phone"></i>
          Contact
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.splashtop.com/sos-download?_ga=2.77162903.308159755.1554922056-984735932.1554922056">
          <i class="fas fa-tint"></i>
          Splashtop S.O.S
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://secure.usaepay.com/interface/epayform/VF136Y0uc6t0KZZI2z7ZQ491IF4YYr5Z/">
          <i class="far fa-credit-card"></i>
          Make a Payment
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.grade.us/itdoctors/">
            <i class="fas fa-star"></i>
            Leave a Review!
          </a>
        </li>
      </ul>
  </nav>

  <!-- Masthead -->
  <span id="home"></span> 
    <header class="masthead text-white text-center shadow">
      <div class="overlay"><!-- TODO: Add bg time-lapse here --></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <h1 class="mb-3">The Doctors are in...</h1>
                <h2> Your technology problems are finally answered. Send us your email for more information! </h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <form method="post">
                <div class="form-row">
                  <div class="col-12 col-md-9 mb-2 mb-md-0">
                    {% csrf_token %}
                    {{form.as_p}}
                  </div>
                  <div class="col-12 col-md-3">
                    <button type="submit" class="btn btn-block btn-lg btn-primary">Subscribe!</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
  
  <!-- About Section -->
  <div><span id = "about"></span>
    <div class="jumbotron jumbotron-fluid">
      <div class="container justify-content-center text-center">
        <h1>What We Do</h1>
        <br>
        <p class="lead">Bringing you the solutions to keep your technology headaches away for good! 
        <br>
        <br>
         With a full support staff offered to our clients, your needs will always be handled in a timely and effective manner. The days of worrying about your computer are over. </p>
      </div>
    </div>
  </div>

  <!-- Services Section -->
  <div><span id = "services"></span>
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({% static "img/jordan-harrison-1208586-unsplash.jpg" %})" alt: "Networking solutions"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Networking Solutions</h2>
          <hr width="25%" align="left">
          <p class="lead mb-0 justify-content-left">From wireless networking and security, to dedicated device monitoring software, we provide  our clients with solid options to tackle unforeseen issues and the tools to improve their business systems.</p>
        </div>
      </div>
      <div class="row no-gutters" align="right">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url({% static "img/alexandre-debieve-561298-unsplash.jpg" %})"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Disaster Recovery</h2>
          <hr width="25%" align="right">
          <p class="lead mb-0">For common malicious attacks to your system, including ransomware, virus, and phishing attacks we're prepared to handle the retrieval of data from your hard drives. As well as providing backup services to keep your data secure and at arms reach in case of 
          catastrophe.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({% static "img/rawpixel-652547-unsplash.jpg" %})"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Infrastructure</h2>
          <hr width="25%" align="left">
          <p class="lead mb-0">For business and consumers alike we provide the means to acquire new hardware, whether that's workstation and/or server components to support software and hardware difficulties, you can get in contact with us through support email when there is an issue to handle the problem quickly and efficiently.</p>
        </div>
      </div>
      <div class="row no-gutters" align="right">
        <div class="col-lg-6  text-white showcase-img" style="background-image: url({% static "img/zany-jadraque-571205-unsplash.jpg" %})"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Website Services</h2>
          <hr width= "25%" align="right">
          <p class="lead mb-0">Whether your needs call for something basic like a landing page to something more advanced like web page applications with back-end support. We offer our clients services for their best suited solution and provide domain hosting, post-launch usability testing, and website traffic analytics. All to provide you a thorough management of your online identity.  </p>
        </div>
      </div>
    </div>
  </section>
  </div>

  <!-- Team Section -->
  <div><span id="team"></span>
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Meet the Team</h2>
      <hr width="25%">
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid mb-3" src={% static "img/img_0160.jpg" %} alt="">
            <h5>Steve G.</h5>
            <p class="font-weight-light mb-0">President</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid mb-3" src= {% static "img/img_0163.jpg" %} alt="">
            <h5>Danielle G.</h5>
            <p class="font-weight-light mb-0">Vice President</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid mb-3" src={% static "img/img_0099.jpg" %} alt="">
            <h5>Christian R.</h5>
            <p class="font-weight-light mb-0">Repair Center Supervisor & Senior Technician</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid mb-3" src={% static "img/img_0071.jpg" %} alt="">
            <h5>Sean S.</h5>
            <p class="font-weight-light mb-0">Technical Analyst & System Administrator</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid mb-3" src={% static "img/img_0117.jpg" %} alt="">
            <h5>David C.</h5>
            <p class="font-weight-light mb-0">Technician</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid mb-3" src={% static "img/img_0009.jpg" %} alt="">
            <h5>Alex H.</h5>
            <p class="font-weight-light mb-0">Fullstack Developer</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid mb-3" src={% static "img/IMG_7811.JPG" %} alt="">
            <h5>Diesel</h5>
            <p class="font-weight-light mb-0"> Company Mascot</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>

  <!-- Contact -->
  <div><span id="contact"></span>
    <section class="contact">
      <div class = "container-fluid">
        <div class = "row justify-content-center text-center">
          <div class = "col-lg-4 justify-content-center text-center">
              <h2>Contact</h2>
              <hr width= "50%">
              <p> 
              <i class="fas fa-map-pin">:</i>
              <strong>17810 W. Dixie Hwy. Suite C</strong>
              <br>
              <strong>North Miami Beach, FL 33160</strong>
              <br>
              <br>
              <i class="fas fa-mobile">:</i>
              <a href="tel:+">(305) - 944 - 9404</a> 
              <br>
              <i class="fas fa-at">:</i>
              <a href="mailto:help@itdoctors.com">help@itdoctors.com</a>
              <br>
              <br>
              <a href="https://www.facebook.com/itdrs/">
              <i class="fab fa-facebook fa-3x fa-fw"></i>
              </a>
              <a href="https://www.linkedin.com/company/it-doctors/about/">
              <i class="fab fa-linkedin fa-3x fa-fw"></i>
              </a>
              <a href="https://twitter.com/itdrs">
              <i class="fab fa-twitter-square fa-3x fa-fw"></i>
              </a>
          </div>
            <!--Google Map Content-->
            <div id="map-container-google-1" class="z-depth-1-half map-container col-lg-8">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3587.8534016111194!2d-80.15252168536793!3d25.940037907527728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9adacb4c44d2d%3A0x346ab5364f6ac45!2s17810+W+Dixie+Hwy%2C+North+Miami+Beach%2C+FL+33160!5e0!3m2!1sen!2sus!4v1549581195830" style="border:0" allowfullscreen="" width="80%" height="500px" frameborder="0"></iframe>
        </div>
      </div>
    </section>
  </div>
  
  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <p class="text-muted small mb-4 mb-lg-0">&copy; IT Doctors {% now 'Y' %}. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="https://www.facebook.com/itdrs/">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="https://www.linkedin.com/company/it-doctors/about/">
                <i class="fab fa-linkedin fa-2x fa-fw"></i> 
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="https://twitter.com/itdrs">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src={% static "js/jquery.js" %}></script>
  <script src={% static "js/javascript.js" %}></script>
  <script src=https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js></script>



</body>

</html>
